# https://gohugo.io/hosting-and-deployment/hosting-on-github/
name: Deploy Hugo site

on:
  pull_request:
  push:
  workflow_dispatch:

# Allow only one concurrent deployment, skipping runs queued between the run in-progress and latest queued.
# Do not cancel in-progress runs
concurrency:
  group: "pages"
  cancel-in-progress: false

jobs:
  # # https://github.com/pre-commit/action
  # pre-commit:
  #   name: Pre-commit
  #   runs-on: ubuntu-24.04
  #   steps:
  #     - uses: actions/checkout@v4
  #     - uses: actions/setup-python@v5
  #       with:
  #         python-version: "3.12"
  #     - uses: pre-commit/action@v3.0.1

  build:
    runs-on: ubuntu-24.04
    env:
      HUGO_VERSION: 0.145.0
    steps:
      - name: Install Hugo CLI
        run: |
          wget -O ${{ runner.temp }}/hugo.deb https://github.com/gohugoio/hugo/releases/download/v${HUGO_VERSION}/hugo_extended_${HUGO_VERSION}_linux-amd64.deb \
          && sudo dpkg -i ${{ runner.temp }}/hugo.deb

      - name: Checkout
        uses: actions/checkout@v4
        with:
          submodules: recursive

      - name: Setup Pages
        id: pages
        if: github.ref == 'refs/heads/main'
        uses: actions/configure-pages@v5

      # - uses: actions/setup-node@v4
      #   with:
      #     node-version: "22"
      #     cache: npm

      # - name: Install Node.js dependencies
      #   run: npm ci

      - name: Build with Hugo
        env:
          # For maximum backward compatibility with Hugo modules
          HUGO_ENVIRONMENT: production
          HUGO_ENV: production
        run: |
          hugo \
            --gc \
            --minify \
            --baseURL "${{ steps.pages.outputs.base_url }}/"

      - name: Upload artifact
        uses: actions/upload-pages-artifact@v3
        with:
          path: ./public

  deploy:
    if: github.ref == 'refs/heads/main'
    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}
    runs-on: ubuntu-24.04
    needs:
      # Only publish if other jobs passed
      # - pre-commit
      - build
    # Allow deployment to GitHub Pages
    permissions:
      contents: read
      pages: write
      id-token: write
    steps:
      - name: Deploy to GitHub Pages
        id: deployment
        uses: actions/deploy-pages@v4
